@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
  background-color: #fbfdff;
  overflow-x: hidden;
  overflow-y: hidden;
}

.link,
a {
  font-weight: 500;
  font-size: 16px;
  color: #232729;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  z-index: 1;
  transition: 0.2s ease;
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
}

header h2 {
  transition: 0.2s ease;
}

.nav__links i {
  vertical-align: top;
}

header h2 i:hover {
  transition: 0.2s ease;
  color: #276ef1;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  transition: 0.2s ease;
  box-shadow: 1px 4px 9px rgba(0, 0, 0, 0.2);
}

.title-wrapper {
  margin-top: 30px;
  position: relative;
  left: 245px;
}

.sticky + .wrapper {
  padding-top: 60px;
}

.nav__links {
  float: right;
  list-style: none;
  position: relative;
}

.nav__links li {
  display: inline-block;
  padding: 1px 20px;
}

.nav__links .link {
  transition: all 0.3s ease 0s;
}

.nav__links .link:hover {
  color: #276ef1;
  text-decoration: none;
}

.sub-menu1 {
  display: none;
}

.nav__links li .sub-menu1 ul li a {
  transition: 0.3s ease;
}

.nav__links li:hover .sub-menu1 {
  display: block;
  position: absolute;
  margin-top: 1px;
  margin-left: -15px;
}

.nav__links li:hover .sub-menu1 ul {
  display: flex;
  flex-direction: column;
  margin: 10px;
  border-radius: 2px;
  box-shadow: 1px 2px 2px rgb(0 0 0 / 10%), -1px -1px 2px rgb(0 0 0 / 8%);
}

.nav__links li:hover .sub-menu1 ul li {
  width: 280px;
  padding: 10px;
  z-index: 1;
  border-bottom: 1px solid #e8e8e8;
  background: #f6f8fa;
  text-align: left;
}

.nav__links li:hover .sub-menu1 ul li a {
  color: #555;
  font-weight: 400;
}

.nav__links li:hover .sub-menu1 ul li:last-child {
  border-bottom: none;
}

.nav__links li:hover .sub-menu1 ul li:hover {
  cursor: pointer;
  transition: 0.2s ease;
  color: #276ef1;
  text-decoration: none;
  background: rgb(231, 231, 231);
}

.title-wrapper h1 {
  position: relative;
  right: 30px;
  text-shadow: 1px 4px 9px rgba(0, 0, 0, 0.2);
}

.title-wrapper h3 {
  position: relative;
  right: 30px;
  font-weight: bold;
  margin-top: 20px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px;
}

.public-ip {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.public-ip .title {
  font-family: 'Poppins', sans-serif;
  font-size: 2.5em;
  font-weight: 600;
  margin: 10px;
  text-align: center;
  display: flex;
  align-items: center;
}

.icon {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
  margin: 10px;
  background: linear-gradient(134deg, #6A98F0 0%, #4961DC 99%);
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.4);
}

.btn {
  height: 40px;
  width: 165px;
  background: #276ef1;
  color: #fff;
  font-weight: bold;
  font-size: 1.1em;
  font-family: 'Poppins', sans-serif;
  border-radius: 3px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.4);
}

.btn i{
  margin-left: 8px;
}

.btn:active {
  transform: scale(0.9);
  background: #11377e;
  box-shadow: 1px 2px 2px rgb(0 0 0 / 10%), -1px -1px 2px rgb(0 0 0 / 8%);
}

.wrapper .ip-wrapper {
  height: 60px;
  width: 440px;
  background: linear-gradient(to right, #585656 0%, #130c0c 100%);
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.4);
}

.ip-value {
  height: 40px;
  width: 350px;
  border-radius: 3px;
  background: #fff;
  padding: 6px 12px;
  display: flex;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 1.2em;
}

button {
  border: none;
  outline: none;
}

.icon1 {
  font-size: 20px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
  margin: 10px;
  cursor: pointer;
  transition: 0.3s ease;
  background: linear-gradient(134deg, #6A98F0 0%, #4961DC 99%);
}

.icon1:hover {
  transform: scale(1.1);
}

.icon1:active {
  transform: scale(0.94);
}

.accordion {
  margin-top: 50px;
  height: 460px;
  background: #233240;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-information {
  width: 800px;
  position: relative;
  bottom: 40px;
}

.sub-information .contentBox {
  position: relative;
  margin: 10px 20px;
}

.sub-information .contentBox .label-1 {
  position: relative;
  padding: 10px;
  background: #276ef1;
  color: #fff;
  cursor: pointer;
  display: flex;
  border-radius: 2px;
}

.sub-information .contentBox .label-1 .status-circle {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: 4px;
  background-color: rgb(164, 168, 164);
}

.sub-information .contentBox .label-1::before {
  content: '+';
  position: absolute;
  top: 50%;
  right: 4%;
  transform: translateY(-50%);
  font-size: 1.5em;
}

.sub-information .contentBox.activate .label-1::before {
  content: '-';
}

.sub-information .contentBox.activate .status-circle {
  background-color: rgb(17, 253, 17);
}

.sub-information .contentBox .content {
  position: relative;
  background: #f6f8fa;
  height: 0;
  overflow: hidden;
  transition: 0.4s;
  overflow-y: auto;
}

.sub-information .contentBox.activate .content {
  height: 100px;
  padding: 10px;
  border-radius: 2px;
}

/* media queries */

@media screen and (max-width: 768px) {
  .wrapper {
    width: 290px;
  }

  .wrapper .ip-wrapper {
    width: 350px;
  }

  .ip-value {
    width: 320px;
    margin-left: 10px;
  }

  .icon {
    height: 80px;
    width: 110px;
  }
}